.contenedor-repuestos {
    width: 1170px;
    height: 268px;
    margin: 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.contenedor-imagen {
    height: 100%;
    width: 270px;
}

.contenedor-texto {
    width: 900px;
    text-align: center;
    padding: 40px;
    font-family: Arial;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-repuesto {
    font-size: 1.8rem;
}

.descripcion {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 25px;
}