* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  background-color: #fff;
  width: 100%;
}

.contenedor_card_general{
  display: grid;
  grid-template-columns: repeat(auto-fit, [col-start] minmax(11rem, 1fr) [col-end]);
  gap: 2rem;
  margin-top: 3.5rem;
}


@media (max-width: 480px){
  .contenedor_card_general{
    display: grid;
    grid-template-columns: repeat(auto-fit, [col-start] minmax(11rem, 1fr) [col-end]);
    gap: 5rem;
    margin-top: 3.5rem;
  }
}
 @media (min-width: 480px){
  .App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b2b8bd;
  }
}

@media (max-width: 767px){
  .App {
    flex-direction: column;
  }
}
.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

} 

.contenedor-principal {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}

@media (max-width: 480px){
  .contenedor_card_general{
    margin-left: 5.6rem;
  }
}
@media (max-width: 280px){
  .contenedor_card_general{
    margin-left: 3rem;
  }
}


@media (max-width : 350px) {
  .item{
    visibility: hidden;
    position: absolute;
    top:-23rem;
    
  }
}
.fijo{
  width: 11rem;
height: 36rem;
}
